<p>

Bonjour,</br></br>

{{ form.user.name }} {{ form.user.surName }} vient d'effectuer une mise à jour sur son formulaire de demande de télétravail.</br></br>

Pour voir les modifications cliquer sur ce <a href="{{ target_url }}">lien</a>


<p/>

<p>Cordialement,</p>