
<p>

Bonjour {{ form.user.name }},<br><br>

Votre demande n'a pas pu être acceptée. <br><br>
Veuillez vous réferer au commentaire ci-dessous afin de voir les modifications que vous devez apporter :<br>
</p>

<p> <strong>{{ form.commentaireDRH }}</strong></p>

<p>
    Afin de modifier votre formulaire rendez-vous sur la plateforme <a href="{{  target_url }}">Hrdoc</a>.
</p>

<p>Cordialement</p>