Bonjour {{ form.user.manager.name | split(' ') | first }},<br><br>

{{ form.user.name }} {{ form.user.surName }} vient de soumettre une demande de télétravail. <br><br>
 
Vous pouvez consulter et valider cette demande directement sur la plateforme <a href="{{ target_url }}"> Hrdoc.</a>
<br><br>

Cordialement,

