Bonjour {{ collaborator.name }},<br> <br>


Nous tenons à vous rappeler que vous n’avez pas apposé votre signature finale sur votre demande de télétravail.
Afin de signer votre document rendez-vous sur la plateforme <a href={{url}} >Hrdoc</a>.<br><br>

{# Nous vous rapellons que la demande doit-être soumise avant le <span style="color: red"><strong>31 Janvier {{ "now"|date("Y") }}</strong></span>. #}

Si vous avez des questions, n’hésitez pas à contacter le service RH via l'adresse : teletravail@hrdoc.fr.<br><br>
Merci pour votre compréhension.<br><br>


Cordialement,