Bonjour {{ collaborator.manager.name | split(' ') | first }},<br> <br>


Nous tenons à vous rappeler que vous n’avez pas complété la demande de télétravail transmise par {{ collaborator.name }} {{ collaborator.surName }}.<br>
Afin de compléter le document rendez-vous sur la plateforme <a href={{url}} >Hrdoc</a>.<br><br>


Si vous avez des questions, n’hésitez pas à contacter le service RH via l'adresse : teletravail@hrdoc.fr.<br><br>
Merci pour votre compréhension.<br><br>

Cordialement,