{% extends 'base.html.twig' %}
{% block title %}opérations{% endblock %}
{% block body %}
	<h1>Modifier la demande d'opérations</h1>
	<twig:FormWrapper:FormWrapper>
		<twig:block name="form_content">
			{{ include('rh/astreinte/_form.html.twig', {'button_label': 'Signer'}) }}
		</twig:block>
	</twig:FormWrapper:FormWrapper>
{% endblock %}
