Bonjour {{ collaborator.manager.name | split(' ') | first }},<br> <br>


Nous vous rappelons que la demande relative au compte épargne-temps de {{ collaborator.name }} {{ collaborator.surName }} est en attente de votre validation.<br><br>
Nous vous invitons à vous connecter sur votre espace <a href={{url}} >Hrdoc</a> afin de consulter cette demande.<br><br>

Votre drh reste à votre disposition pour toute information complémentaire.<br><br>


Cordialement,