{% extends 'base.html.twig' %}

{% block title %}Modification CET
{% endblock %}

{% block body %}
	<h1>Modification du CET</h1>
	<twig:FormWrapper:FormWrapper>
		<twig:block name="form_content">
			{{ include('collaborator/cet/_form.html.twig') }}
		</twig:block>
	</twig:FormWrapper:FormWrapper>
{% endblock %}
