{% extends 'base.html.twig' %}
{% block title %}Validation de la demande de retour sur site
{% endblock %}
{% block body %}
	<h1>Validation de la demande retour sur site</h1>
	<twig:Form:FormWrapper>
		<twig:block name="form_content">
			{{ include('retour_sur_site/_form_final.html.twig', {'button_label': 'Signer'}) }}
		</twig:block>
	</twig:Form:FormWrapper>
{% endblock %}
