<div class="content-wrapper">
    <h1>Erreur côté serveur</h1>

    <p>
        Oops... Il semblerait qu'une erreur soit survenue côté serveur. Merci de contacter un administrateur.
    </p>
</div>