{% extends 'base.html.twig' %}

{% block body %}
{# <div class="content-wrapper"> #}
    <h1>Accès Interdit</h1>

    <p>
        Veuillez vous connecter avec les droits nécessaires : <a href="{{ path('app_login') }}">Me connecter</a>.
    </p>
{# </div> #}
{% endblock %}