<p>

Bonjour {{ form.user.name }},</br></br>

Le service vient d'effectuer une validation concernant votre retour sur site à compter du {{ form.dateFinTeletravail|date('d/m/Y')}}.</br></br>


<a> Pour voir la demande rendez-vous sur <a href="{{ target_url }}">Hrdoc</a>


<p>Cordialement</p>