<form class="form-delete" method="post" action="{{ path('app_teletravailform_rh_delete', {'id': entity.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button class="btn-table-form btn-trash"><i class="fa-solid fa-trash"></i></button>
</form>
